body {
    margin: auto !important;
    max-width: 600px !important;
}

.card-customer {
    width: 90% !important;
}

.card-customer a {
    display: block;
    z-index: 1;
    cursor: pointer;
}

.fullclick {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}