body {
    margin: auto !important;
    max-width: 600px !important;
    padding-bottom: 310px;
}

.cards, .order-card {
    width: 90% !important;
}

.cards a {
    display: block;
    z-index: 1;
    cursor: pointer;
}

.order-card {
    padding: 0 !important;
}

.fullclick {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.add-button, .save-button, .delete-button, .back-button, .reload-button, .search-product-button, .delete-order-button {
    border-radius: 100px !important;
    width: 60px !important;
    height: 60px !important;
    position: fixed;
    margin-left: 508px !important;
    bottom: 40px;
    box-shadow: 1px 1px 2px gray;
    z-index: 100;
}

.delete-confirm-button, .back-confirm-button {
    border-radius: 100px !important;
    width: 60px !important;
    height: 60px !important;
    box-shadow: 1px 1px 2px gray;
}

.delete-confirm-button .delete-button-icon {
    margin-top: 2px;
}

.back-confirm-button .back-button-icon{
    margin-top: 7px;

}

.add-button-icon, .save-button-icon, .delete-button-icon, .back-button-icon, .reload-button-icon, .search-product-button-icon {
    margin-top: 8px;
}

.save-button, .delete-order-button {
    bottom: 110px;
}

.search-product-button {
    bottom: 250px;
}

.delete-button {
    bottom: 180px;
}

.navbar {
    position: sticky !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 100;
}

@media (max-width: 700px) {
    .add-button, .save-button, .delete-button, .back-button, .reload-button, .search-product-button, .delete-order-button {
        right: 20px !important;
    }
}