<!DOCTYPE html>
<html lang="en">
{{ template "head.html" }}
<body>

    {{ template "navbar.html" }}

    <div class="container animate__animated animate__fadeIn">
        <div class="row">
            <div class="col col-8">
                <h1 class="m-3">{{ .Title }}</h1>
            </div>
        </div>
        <div class="row">
            <form id="form" class="col-8 m-auto mt-4" action="/customers/save" method="post">

                <input value="{{ .Customer.ID }}" name="id" type="text" class="form-control d-none" >
                <div class="form-floating mb-3">
                    <input onblur="validateForms()" value="{{ .Customer.Name }}" type="text" class="form-control" id="name" name="name" placeholder="Nombre" required>
                    <label class="ms-3" for="name">Nombre</label>
                </div>

                <div class="form-floating mb-3">
                    <input onblur="validateForms()" value="{{ .Customer.LastName }}" type="text" class="form-control" id="lastName" name="lastName" placeholder="Apellido" required>
                    <label class="ms-3" for="name">Apellido</label>
                </div>

                <div class="form-floating mb-3">
                    <input onblur="validateForms()" onchange="validateDoc()" value="{{ .Customer.Doc }}" type="number" min="111111" class="form-control" id="doc" name="doc" placeholder="Documento" required>
                    <label class="ms-3" for="name">Documento</label>
                </div>

                <div class="form-floating mb-3">
                    <input onblur="validateForms()" onchange="validatePhone()" value="{{ .Customer.Phone }}" type="number" min="100000" class="form-control" id="phone" name="phone" placeholder="Teléfono" required>
                    <label class="ms-3" for="name">Teléfono</label>
                </div>

                <div class="form-floating mb-3">
                    <input onblur="validateForms()" value="{{ .Customer.Address }}" type="text" class="form-control" id="address" name="address" placeholder="Dirección" required >
                    <label class="ms-3" for="name">Dirección</label>
                </div>
                <div id="error" class="row d-none m-auto w-100 animate__animated">
                                    <span class="badge m-auto bg-danger">
                                        Todos los campos
                                        <br>
                                        deben estar completos
                                        <hr>
                                         El nombre y apellido
                                        <br>
                                        no pueden tener números
                                        <hr>
                                        NO PODRAS GUARDAR EL CLIENTE
                                    </span>
                </div>

                <div>
                    {{ if .Customer.ID }}
                        <a class="btn btn-secondary m-auto col-3 back-button" href="/customers">
                            <i class="fa-solid fa-angle-left fa-2x back-button-icon"></i>
                        </a>
                        <a class="btn btn-danger m-auto col-3 delete-button" href="/customers/delete-confirm?from=customers&id={{ .Customer.ID }}">
                            <i class="fa-solid fa-trash fa-2x delete-button-icon"></i>
                        </a>
                        <button id="saveBtn" class="btn btn-primary m-auto col-3 save-button" type="submit" disabled>
                            <i class="fa-solid fa-floppy-disk fa-2x"></i>
                        </button>
                    {{ else }}
                        <a class="btn btn-secondary m-auto col-5 back-button" href="/customers">
                            <i class="fa-solid fa-angle-left fa-2x back-button-icon"></i>
                        </a>
                        <button id="saveBtn" class="btn btn-primary m-auto col-5 save-button" type="submit" disabled>
                            <i class="fa-solid fa-floppy-disk fa-2x"></i>
                        </button>
                    {{ end }}
                </div>
            </form>
        </div>


    </div>
</body>
</html>