<!DOCTYPE html>
<html lang="en">
    {{ template "head.html" }}
    <body>

        {{ template "navbar.html" }}

        <div class="container animate__animated animate__fadeIn">
            <div class="row">
                <div class="col-11">
                    <h1 class="m-3">{{ .Title }}</h1>
                </div>
            </div>
            <div class="row">
                {{if .Customers}}
                    {{ range .Customers }}
                        {{ if not .Disabled }}
                        <div class="cards card m-auto my-2">
                            <div class="row">
                                <div class="col-9">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            {{ .Name }} {{ .LastName }}
                                        </h5>
                                        <h6 class="card-subtitle mb-2 text-muted">
                                            Favorito: {{ .Fav }}
                                        </h6>
                                        <p class="card-text">
                                            Teléfono: {{ .Phone }}
                                        </p>
                                        <p class="card-text">
                                            Dirección: {{ .Address }}
                                        </p>
                                    </div>
                                </div>
                                {{ if not $.Searching }}
                                <a class="fullclick" href="/customers/edit?id={{ .ID }}"></a>
                                {{ else }}
                                <a class="fullclick" href="/orders/new?customerId={{ .ID }}"></a>
                                {{ end }}
                                <div class="col-2 m-auto">
                                    <i class="fa-solid fa-angle-right fa-4x"></i>
                                </div>
                            </div>
                        </div>
                        {{ end }}
                    {{ end }}
                {{ else }}
                <div class="cards card m-auto my-2">
                    <div class="card-body">
                        <p class="card-text">
                            Ningún cliente encontrado!
                        </p>
                    </div>
                </div>
                {{ end }}
            </div>
            {{ if $.Searching }}
                <div>
                    <a class="btn btn-secondary m-auto col-6 back-button" href="/orders">
                        <i class="fa-solid fa-angle-left fa-2x back-button-icon"></i>
                    </a>
                </div>
            {{ else }}
                <div>
                    <a class="btn btn-primary add-button" href="/customers/new">
                        <i class="fa fa-plus fa-2x add-button-icon"></i>
                    </a>
                </div>
            {{ end }}
        </div>
    </body>
</html>