<!DOCTYPE html>
<html lang="en">
{{ template "head.html" }}
<body>

    {{ template "navbar.html" }}

    <div class="container animate__animated animate__fadeIn">
        <div class="row">
            <div class="col col-8">
                <h1 class="m-3">{{ .Title }}</h1>
            </div>
        </div>
        <div class="row">
            <form class="row">

                <input value="{{ .Order.ID }}" name="id" type="text" class="form-control d-none" >
                <div class="d-flex flex-row-reverse mb-3">
                    <h2 >Precio total: $<span id="finalPrice" name="finalPrice">{{ .Order.FinalPrice }}</span></h2>
                </div>
                {{if .Order.ID }}
                    <div class="form-floating mb-3">
                        <input value="{{ .Order.Number }}" type="text" class="form-control" id="number" name="number" placeholder="Número de pedido" disabled>
                        <label class="ms-3" for="number">Número de pedido</label>
                    </div>
                {{ end }}

                <div class="form-floating mb-3">
                    <input value="{{ .Order.Customer.Name }} {{ .Order.Customer.LastName }}" id="customer" type="text" class="form-control" placeholder="Cliente" disabled>
                    <label class="ms-3" for="customer">Cliente</label>
                </div>

                <div class="form-floating mb-3">
                    <input value="{{ .Order.Time }}" id="time" type="datetime-local" class="form-control" placeholder="Fecha">
                    <label class="ms-3" for="time">Fecha</label>
                </div>

                {{ if .Order.Items }}
                    {{ range $i, $item := .Order.Items }}

                        <div class="card m-auto mb-3" style="width: 94%">
                            <div class="row">
                                <div class="card-body">
                                    <button onclick="eliminarItem('{{ $i }}')" type="button" class="btn-close float-end" aria-label="Close"></button>
                                    <h4 class="card-title">
                                        Producto: {{ .Product.Name }}
                                    </h4>
                                    <h6 class="card-subtitle mb-2 text-muted">
                                        Stock: {{ .Product.Quantity }}
                                    </h6>
                                    <h5 class="card-text">
                                        Precio: ${{ .Product.Price }}
                                    </h5>
                                </div>
                            </div>

                            <div class="item-info input-group row ms-2 mb-3">
                                <span class="input-group-text col-4" >Cantidad</span>
                                <span class="d-none">{{ .Product.Price }}</span>
                                <input onkeyup="checkQuantityUpdatePrice('{{ .Product.Quantity }}','{{ $i }}')" value="{{ .Quantity }}"
                                       id="{{ .Product.ID }}"
                                       name="quantity"
                                       required
                                       type="number"
                                       style="max-width: 30%"
                                       class="form-control quantity-input"
                                       aria-label="Sizing example input"
                                       aria-describedby="quantity">
                            </div>
                            <div id="error-{{ $i }}" class="row d-none">
                                <span class="badge bg-danger">La cantidad no puede ser mayor al stock</span>
                            </div>
                        </div>
                    {{ end }}
                {{ end }}
                <div>

                    {{ if .Order.ID }}
                        <a class="btn btn-success m-auto search-product-button" onclick="searchProduct('{{ .Order.Customer.ID }}')" >
                            <i class="fa-solid fa-plus fa-2x search-product-button-icon "></i>
                        </a>
                        <a class="btn btn-secondary col-3 back-button" href="/orders">
                            <i class="fa-solid fa-angle-left fa-2x back-button-icon"></i>
                        </a>
                        <a class="btn btn-danger m-auto col-3 delete-button" href="/orders/delete-confirm?from=orders&id={{ .Order.ID }}">
                            <i class="fa-solid fa-trash fa-2x delete-button-icon"></i>
                        </a>
                        <button class="btn btn-primary m-auto col-3 save-button" onclick="saveOrder('{{ .Order.Customer.ID }}')" type="button">
                            <i class="fa-solid fa-floppy-disk fa-2x"></i>
                        </button>
                    {{ else }}
                        <a class="btn btn-success m-auto search-product-button" style="bottom: 180px !important;" onclick="searchProduct('{{ .Order.Customer.ID }}')" >
                            <i class="fa-solid fa-plus fa-2x search-product-button-icon "></i>
                        </a>
                        <a class="btn btn-secondary col-5 back-button" href="/orders">
                            <i class="fa-solid fa-angle-left fa-2x back-button-icon"></i>
                        </a>
                        <button class="btn btn-primary col-5 save-button" onclick="saveOrder('{{ .Order.Customer.ID }}')" type="button">
                            <i class="fa-solid fa-floppy-disk fa-2x"></i>
                        </button>
                    {{ end }}
                </div>
            </form>
        </div>

    </div>
</body>
</html>